html {
  box-sizing: border-box;
}

body {
  color: #23210d;
  font-family: 'Open Sans', sans-serif; 
  --btn-text-color: #2a2a2a;
  --card-text-color: #3e3e3e;
  --inverted-btn-text-color: #eaeaea;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";

  background-image: linear-gradient(to left, #fefae0, #fdf8dc, #fcf5d9, #fcf3d5, #fbf0d2, #f9efd0, #f8eece, #f6edcc, #f3edcb, #f0edca, #ecedc9, #e9edc9);
}

body.dark {
  color: #6fffe9;
  font-family: 'Open Sans', sans-serif; 
  --btn-text-color: #5bc0be;
  --card-text-color: red;
  --inverted-btn-text-color: #0b132b;
  --light-dark-btn-bg: #fefae0;
  --light-dark-btn-content: "Light Mode";

  background-image: linear-gradient(to right bottom, #0b132b, #131e36, #1c2942, #25344e, #2e405a, #334e69, #385c78, #3d6b86, #3f8098, #4295a8, #4babb4, #5bc0be);
}

#light-dark-button {
  background-color: var(--light-dark-btn-bg);
  background-image: var(--light-dark-btn-bg);
}

#light-dark-button::after {
  border: none;
  color: var(--inverted-btn-text-color);
  content: var(--light-dark-btn-content);
}

.btn {
  border: none;
  color: var(--btn-text-color);
  font-family: var(--cursive);
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  body {
    /* tablet/desktop - two column display */
    /* background-color: rgb(241, 230, 207); */
    /* margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto; */
    
  }

#aboutMe-section {
  display: grid;
  grid-template-columns: 40% 60%;
}

#aboutMe-heading {
  grid-column-end: span 2;
}

#aboutMe-paragraph {
  max-width: 600px;
}


}

.main-sections {
  margin: 70px 15px;
}

.headings {
  text-align: center;
  margin-bottom: 25px;
  font-size: 38px;
}

#previous-work-heading {
  font-family: 'Livvic', sans-serif;
  font-weight: 700;

}

#aboutMe-heading {
font-family: 'Press Start 2P', cursive;
}

.header-img {
  width: 100%;

}

nav {
  /* background-color: #888e71; */
  display: flex;
  /* grid-area: nav; */
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#bottom-nav {
  margin-top: 50px;
  margin-bottom: 20px;
}

.work-pictures {
  border-style: solid;
  width: 95%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.contact-links {
  max-width: 50px;
}


/*
font-family: 'Amatic SC', cursive; (handwirtten magazine cover)
font-family: 'Indie Flower', cursive; (handwritten printed out)
font-family: 'Livvic', sans-serif; (clean, slight curves)
font-family: 'Open Sans', sans-serif; (clean, more straight)
font-family: 'Press Start 2P', cursive; (video game)
font-family: 'Trade Winds', cursive; (movie poster title)
*/

