


@media only screen and (min-width: 576px) {
  body {
    /* tablet/desktop - two column display */
    /* background-color: rgb(241, 230, 207); */
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav nav nav"
    "aside main main"
    "footer footer footer";
  }


}


body {
  background-color: rgb(186, 178, 162);
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.header-img {
  width: 100%;

}

nav {
  /* background-color: #888e71; */
  display: flex;
  /* grid-area: nav; */
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color:rgb(56, 40, 8)

}

.work-features {
  margin: 0;
}

.work-pictures {
  border-style: solid;
  max-width: 95%;
}


.contact-links {
  max-width: 30px;
}


