html {
  box-sizing: border-box;
}

body {
  background-color: rgb(156, 150, 137);
  font-family: sans-serif;
}


@media only screen and (min-width: 768px) {
  body {
    /* tablet/desktop - two column display */
    /* background-color: rgb(241, 230, 207); */
    /* margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto; */
    
  }

#aboutMe-section {
  display: grid;
  grid-template-columns: 40% 60%;
}

#aboutMe-heading {
  grid-column-end: span 2;
}

#aboutMe-paragraph {
  max-width: 600px;
}


}


.main-sections {
  /* background-color: black; */
  margin: 90px;
}

.headings {
  text-align: center;
  margin-bottom: 25px;
}

.header-img {
  width: 100%;

}

nav {
  /* background-color: #888e71; */
  display: flex;
  /* grid-area: nav; */
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color:rgb(56, 40, 8)

}

.work-features {
  margin: 0;
}

.work-pictures {
  border-style: solid;
  width: 95%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}


.contact-links {
  max-width: 30px;
}


